#background {
    -fx-background-color: #E6E6E6;
}

#topbar {
    -fx-background-color: #CCCCCC;
}

#playermenu {
    -fx-background-color: linear-gradient(#CCCCCC, #666666);
}

.windowButton {
    -webkit-fx-faint-focus-color: #FEFEFE;
}

.mainimage {
    -fx-border-color: #FFFFFF ;
    -fx-border-insets:3;
    -fx-border-radius:7;
    -fx-border-width:1;
}

.player-btns {
    -fx-fill: #000000;
}

.player-btns:hover {
    -fx-fill: #2CFF9C;
}

#btn {
    -fx-background-color: #2CFF9C;
}


/* Styling the slider thumb */
.jfx-slider > .thumb {
    -fx-background-color: #2CFF9C;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
    -fx-background-color: #2CFF9C;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
    -fx-background-color: #2CFF9C;
}

.jfx-progress-bar > .bar {
    -fx-background-color: #2CFF9C;
}